@font-face {
    font-family: Number;
    src: url(../font/tttgbnumber.woff) format('woff'), url(../font/tttgbnumber.ttf) format('truetype');
}

@font-face {
    font-family: YS;
    src: url(../font/HYWH-65W.woff) format('woff'), url(../font/HYWH-65W.ttf) format('truetype');
}

body {
    font-family: YS, Arial, sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 30px;
    width: 1050px;
    transform: scale(3);
    transform-origin: 0 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-height: 100vh;
}

:root {
    --item-bg-color: #ffffff;
}

.card {
    background: url(../img/bgImgV2.png);
    background-size: 100% 100%;
    border-radius: 21px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    width: 1050px;
    overflow: hidden;
}

.card-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #7e7e7e;

    // background: linear-gradient(180deg, #388FD0 10%, #F3F8FC 90%)
    .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
        object-fit: cover;
    }

    .user-info {
        flex-grow: 1;

        .username {
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 5px 0;
            color: #333;
        }

        .badge {
            display: inline-block;
            padding: 3px 8px;
            border-radius: 12px;
            font-size: 12px;
            font-weight: bold;
        }

        .level {
            background-color: #e0e0e0;
            color: #333;
        }

        .online {
            background-color: #4caf50;
            color: white;
            margin-left: 10px;
        }

        .offline {
            background: #666;
        }

        .role {
            margin-left: 10px;
            background-color: #e0e0e0;
            color: #333;
        }
    }
}







.card-content {
    padding: 20px;
    display: flex;
    // background: url(../img/bgImgV2.png);
    background-size: 100% 100%;
}

.info-section {
    flex: 2;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    background-color: var(--item-bg-color);
    padding: 10px;
    border-radius: 6px;

    .key {
        color: #666;
    }
}

.info-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.rank-image-parent-container {
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
}

.rank-image-container {
    position: relative;
    width: 150px;
    height: 324px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 25px;


    .ranking-star {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        z-index: 3;
    }

    .rank-image-background {
        position: relative;
        width: 100%;
        top: -15px;
        height: 100%;
        z-index: 1;
    }

    .rank-image-honor {
        position: absolute;
        z-index: 3;
        width: 160%;
        // top: -28px;
        // left: -55px;
    }

    .rank-image {
        position: absolute;
        top: -3%;
        width: 190%;
        height: auto;
        z-index: 2;
    }

    .rank-badge {
        position: absolute;
        top: 75%;
        background-color: #ffffffd3;
        color: #333;
        padding: 5px 30px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: bold;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        z-index: 3;
    }

    .star-number {
        position: absolute;
        top: 35px;
        z-index: 3;
        color: #ffffff;
        display: flex;
        font-size: 18px;

        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }

    .rank-modePeakRace-cube {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
    }

    .rank-modePeakRace-avatar {
        z-index: 2;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: absolute;
        top: 44%;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        .border {
            width: 66px;
            height: 66px;
            left: -16px;
            top: -16px;
        }
    }

    .rank-modePeakRace-content {
        position: absolute;
        z-index: 2;
        font-size: 15px;
        top: 60%;
        color: #EED8D7;
    }
}





.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;

    .stat-item {
        background-color: var(--item-bg-color);
        border-radius: 8px;
        padding: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .stat-value {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 5px;
            position: relative;

            .all {
                font-size: 15px;
                font-weight: normal;
            }

            .icon {
                width: 65px;
            }

            .content {
                z-index: 1;


                &.style113 {
                    position: absolute;
                    font-size: 13px;
                    color: #ffffff;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 19px;
                }

                &.style112 {
                    position: absolute;
                    font-size: 13px;
                    color: #ffffff;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 22px;
                }

                &.style110 {
                    display: none;
                }

                &.style111 {
                    position: absolute;
                    font-size: 13px;
                    color: #ffffff;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 29px;
                }

                &.style102 {
                    margin-bottom: 10px;
                }
            }
        }

        .stat-label {
            font-size: 14px;
            color: #666;
        }
    }


}

.stat-combat {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-top: 1px dashed #6c6c6c;
    padding-top: 10px;
    font-size: 20px;

    .icon {
        width: 40px;
        border-radius: 10px;
        border: 1px solid #fff;
        margin-right: 10px;
    }
}



.peak-score {
    grid-column: 1 / -1;
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.peak-item {
    flex: 1;
    background-color: var(--item-bg-color);
    padding: 12px;
    border-radius: 6px;
    text-align: center;
}

.peak-label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.peak-value {
    font-size: 18px;
    font-weight: bold;
    color: #ff9800;
}